#section6 {
    padding: 5% 2%;
    color: #F2EEE4;
}

#section6 .desc {
    font-size: 3.8vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

.sec6-text {
    display: flex;
    padding-top: 14%;
}

.sec6-text .text-left {
    width: 55%;
    position: relative;

}


.sec6-text .text-left h3 {
    position: sticky;
    top: 70px;
    font-family: 'Poppins';
    color: #F2EEE4;
    font-size: 6vw;
    line-height: 0.9;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: -0.7vw;
    font-family: "Poppins";

}





.commentWrap button {
    width: 80%;
    border-radius: 5px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1vw;
}

.commentWrap button:hover {
    background-color: rgba(228, 226, 226, 0.842);
    color: #F4F0E6;
}

.sec6-text .text-right {
    width: 45%;
    margin-top: -1.2vw;
}

.sec6-text .text-right dt {
    font-family: 'iceJaram-Rg';
    font-size: 50px;
    margin-top: 50px;
}

.sec6-text .text-right dt.noTop {
    margin-top: 0;
}

.sec6-text .text-right dd {
    font-family: 'IropkeBatang';
    font-size: 20px;
    margin-bottom: 5px;
    position: relative;
    padding-left: 28px;
}

.sec6-text .text-right dd::before {
    content: '';
    background-image: url(../../img/check.svg);
    width: 18px;
    height: 18px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 5px;
    border-radius: 3px;
}



.comment-wrap {}

.comment-wrap .comment {
    margin-top: 100px;
}

.comment-wrap .comment.noTop {
    margin-top: 0;
}

.comment-wrap .comment .title {
    font-size: 6vw;
    line-height: 1;
    font-family: 'iceJaram-Rg';
    display: inline-block;
}

.comment-wrap .comment .title em {
    font-size: 30px;
}

.comment-wrap .comment .auth {
    display: inline-block;
    font-family: 'IropkeBatang';
    margin-bottom: 10px;
    font-size: 14px;
    opacity: 0.4;
}

.comment-wrap .comment .cont {
    position: relative;
    padding-left: 40px;
    font-family: 'IropkeBatang';
    font-size: 20px;
    word-break: keep-all;
}

.comment-wrap .comment .cont::before {
    content: '';
    background-image: url(../../img/terminal.svg);
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F2EEE4;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.Iam {
    padding-top: 40px;
    width: 100%;
    display: flex;
    font: normal 60px/50px Headlines;
    color: #F4F0E6;
    flex-direction: column;
    justify-content: center;
}

.Iam p {
    height: 85px;
    font-size: 7.5vw;
    float: left;
    margin-right: 0.3em;
    font-family: "Poppins";
    font-weight: 700;
}

.Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
    font-family: "Poppins";
}

.Iam .innerIam {
    display: inline-block;
    color: var(--maincolor);
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
    font-size: 2rem;


    /*animation*/
    -webkit-animation: move 5s;
    -moz-animation: move 5s;
    -ms-animation: move 5s;
    -o-animation: move 5s;
    animation: move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
    -ms-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-webkit-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-moz-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@-o-keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}

@keyframes move {
    0% {
        top: 0px;
    }

    20% {
        top: -50px;
    }

    40% {
        top: -100px;
    }

    60% {
        top: -150px;
    }

    80% {
        top: -200px;
    }
}


@media(max-width: 1600px) {
    .Iam {
        padding-top: 30px;
    }

    .Iam p {
        height: 80px;
        font-size: 8vw;
        float: left;
        margin-right: 0.3em;
    }

    .Iam b {
        top: -14px;
    }
}

@media(max-width: 1000px) {

    .Iam {
        padding-top: 8px;
    }

    .Iam b {
        top: -22px;
    }
}

@media(max-width: 800px) {
    #section6 {
        padding: 5% 5%;
        color: #F2EEE4;
    }

    .Iam {
        padding-top: 1px;
    }

    .Iam .innerIam {
        display: none;
    }

    .sec6-text {
        display: flex;
        padding-top: 30%;
        flex-direction: column;
    }

    .sec6-text .text-right {
        width: 100%;
        padding-top: -1.2vw;
    }

    .Iam b {
        float: left;
        overflow: hidden;
        position: relative;
        height: 50px;
        top: 2px;
        font-family: "Poppins";
    }

    .comment-wrap .comment .cont {
        position: relative;
        padding-left: 40px;
        font-family: 'IropkeBatang';
        font-size: 18px;
        word-break: keep-all;
    }

}

@media(max-width: 500px) {

    .Iam {
        padding-top: 0.2px;
    }

    .sec6-text {
        display: flex;
        padding-top: 50%;
        flex-direction: column;
    }

    .sec6-text .text-left {
        width: 80%;
        position: relative;
    }

    .sec6-text .text-left h3 {
        font-size: 10vw;
    }

    .Iam p {
        height: 80px;
        font-size: 11vw;
        float: left;
        margin-right: 0.3em;
    }
}

@media(max-width: 400px) {
    .sec6-text .text-left {
        width: 100%;
        position: relative;
    }

    .sec6-text .text-left h3 {
        font-size: 12vw;
        padding: 2%;
    }

    .comment-wrap .comment .title {
        font-size: 15vw;
    }

    .comment-wrap .comment .cont {
        font-size: 15px;
    }

    .sec6-text .text-right {
        padding: 5%;
    }

    .Iam p {
        display: none;
    }

    .sec6-text {
        display: flex;
        padding-top: 80%;
        flex-direction: column;
    }



}