#section07 {
    width: 100%;
    height: 100vh;
    padding: 2% 2%;
    color: #fff;
}

#section07 .top {
    width: 100%;
    height: 25%;
}

.contectWrap {
    width: 100%;
    display: flex;
    font-family: 'Poppins';
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}

.contectWrap .let {
    font-size: 8vw;
    color: rgb(255, 255, 255);
}

.contectWrap .line {
    width: 300px;
    border-top: 1px solid #fff;
}

.contectWrap .contact {
    font-size: 8vw;
    color: rgb(255, 255, 255);
}


#section07 .top>h6 {
    font-size: 7vw;
    font-weight: 700;
    border-bottom: 1px solid #ffffff;
}

#section07 .bottom {
    width: 100%;
    height: 60%;
    display: flex;
}

.bottom .bottom_left {
    padding: 2% 5%;
    width: 50%;
    font-family: 'EliceDigitalBaeum';
}

.commentWrap {
    width: 80%;
    padding: 20px 20px;
}

.con {
    padding: 5px 0;
    font-size: 2vw;
}

.conDesc {
    font-size: 1vw;
    padding-bottom: 20px;
}

.bottom .bottom_left .name {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.bottom .bottom_left .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-left: 10px;
    margin-top: 20px;
    background-color: #44444456;
    border-radius: 2px;
    height: 4vw;
}

textarea {
    border-radius: 2px;
    margin-top: 20px;
    background-color: #44444456;
    resize: none;
    height: 6vw;
}

fieldset {
    width: 90%;
    border: 0 solid black;
}


.bottom .bottom_right {
    width: 50%;
    font-family: 'EliceDigitalBaeum';
    padding: 2% 5%;
}

.contactWrap {
    width: 80%;
    padding: 20px 20px;
}

.contactWrap .con {
    padding: 5px 0;
    font-size: 2vw;
}

.contactWrap .conDesc {
    font-size: 1vw;
    padding-bottom: 30px;
}

.contactSite {
    padding: 2px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.contactSite>div {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 1vw;
    transition: all 0.3s;
}

.contactSite>div:hover {
    background-color: #ffffff1e;
    cursor: pointer;
}

.footer {
    background-color: #ffffff07;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    margin-top: 2.5vw;
    padding: 2%;
}

.footerLeft {
    display: flex;
}

.footer_icon {
    display: flex;
}

.footer_icon>div {
    margin-left: 20px;
}

.footer_mail {
    padding-left: 50px;
    font-family: 'PPSupplyMono';
    font-size: 0.6vw;
    padding-top: 8px;

}

.footer_logo {
    font-size: 1.5vw;
    font-family: "Headlines";
}