#section07 {
    width: 100%;
    height: 100vh;
    padding: 2% 2%;
    color: #fff;
}

#section07 .top {
    width: 100%;
    height: 25%;
  opacity: 0;
  transform: translateY(150px);
  transition: all 0.3s ease-out;
}

.contectWrap {
    width: 100%;
    display: flex;
    font-family: 'Poppins';
    font-weight: 700;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0;
}

.contectWrap .let {
    font-size: 8vw;
    color: rgb(255, 255, 255);
}

.contectWrap .line {
    width: 300px;
    border-top: 1px solid #fff;
}

.contectWrap .contact {
    font-size: 8vw;
    color: rgb(255, 255, 255);
}


#section07 .top>h6 {
    font-size: 7vw;
    font-weight: 700;
    border-bottom: 1px solid #ffffff;
}

#section07 .bottom {
    width: 100%;
    height: 60%;
    display: flex;
       opacity: 0;
  transform: translateY(150px);
  transition: all 0.3s ease-out;
}

.bottom .bottom_left {
    padding: 2% 5%;
    width: 50%;
    font-family: 'EliceDigitalBaeum';
}

.commentWrap {
    width: 80%;
    padding: 20px 20px;
}

.con {
    padding: 5px 0;
    font-size: 2vw;
}

.conDesc {
    font-size: 1vw;
    padding-bottom: 20px;
}

.bottom .bottom_left .name {

    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

.bottom .bottom_left .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input {
    margin-left: 10px;
    margin-top: 20px;
    background-color: #44444456;
    border-radius: 2px;
    height: 4vw;
    color: #fff;
}
    input::placeholder {
    text-align: center;
    padding: 3px;
    }

textarea {
    border-radius: 2px;
    margin-top: 20px;
    background-color: #44444456;
    resize: none;
    height: 6vw;
    margin-left: 10px;
    color: #fff;
}
    textarea::placeholder {
    text-align: center;
    padding: 10px;

    }

fieldset {
    width: 90%;
    border: 0 solid black;
}


.bottom .bottom_right {
    width: 50%;
    font-family: 'EliceDigitalBaeum';
    padding: 2% 5%;
}

.contactWrap {
    width: 80%;
    padding: 20px 20px;
}

.contactWrap .con {
    padding: 5px 0;
    font-size: 2vw;
}

.contactWrap .conDesc {
    font-size: 1vw;
    padding-bottom: 30px;
}

.contactSite {
    padding: 2px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.contactSite>div {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    font-size: 1vw;
    transition: all 0.3s;
}

.contactSite>div:hover {
    background-color: #ffffff1e;
    cursor: pointer;
}

.footer {
    background-color: #ffffff07;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    margin-top: 2.5vw;
    padding: 2%;
      opacity: 0;
  transform: translateY(150px);
  transition: all 0.3s ease-out;
    
}

.footerLeft {
    display: flex;
}

.footer_icon {
    display: flex;
}

.footer_icon>div {
    margin-left: 20px;
}

.footer_mail {
    padding-left: 50px;
    font-family: 'PPSupplyMono';
    font-size: 0.6vw;
    padding-top: 8px;

}

.footer_logo {
    font-size: 1.5vw;
    font-family: "Headlines";
}



@media(max-width:1400px) {
    .contactWrap {
        width: 100%;
    }

    .contactWrap .con {
        padding: 5px 0;
        font-size: 2.5vw;
    }

    .contactWrap .conDesc {
        font-size: 1.3vw;
        padding-bottom: 30px;
    }

    .contactSite>div {
        font-size: 1.5vw;
    }

    .commentWrap {
        width: 100%;
    }

    .commentWrap .con {
        padding: 5px 0;
        font-size: 2.5vw;
    }

    .commentWrap .conDesc {
        font-size: 1.3vw;
        padding-bottom: 30px;
    }

    .bottom .bottom_left .name {
        font-size: 1.5vw;
    }

    .bottom .bottom_left .content {
        font-size: 1.5vw;
    }
}

@media(max-width:1200px) {
    .contectWrap .line {
        width: 135px;
        border-top: 1px solid #fff;
    }

}

@media(max-width:1000px) {
    .contectWrap .line {
        width: 135px;
        border-top: 1px solid #fff;
    }

    .footer_logo {
        font-size: 2.5vw;
    }

    .footer_mail {
        font-size: 1.2vw;
    }


}

@media(max-width:800px) {
    .contectWrap .line {
        width: 135px;
        border-top: 1px solid #fff;
    }

    .footer_logo {
        font-size: 2.5vw;
    }

    .footer_mail {
        font-size: 1.2vw;
    }

    .contectWrap .line {
        display: none;

    }

    .contectWrap .let {
        font-size: 11vw;
        color: rgb(255, 255, 255);
    }

    .contectWrap .contact {
        font-size: 10vw;
        color: rgb(255, 255, 255);
    }

    .commentWrap .con {
        font-size: 5vw;
    }

    .contactWrap .con {
        font-size: 5vw;
    }

    .commentWrap .conDesc {
        font-size: 1.8vw;
    }

    .contactWrap .conDesc {
        font-size: 1.8vw;
        padding-bottom: 30px;
    }

    .contactWrap {
        width: 100%;
        padding: 0px 5px;
    }

    .commentWrap {
        width: 100%;
        padding: 0px 5px;
    }
}

@media(max-width:600px) {
    .contectWrap {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 5%;
        flex-direction: column;
    }

    #section07 .bottom {
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
    }

    .bottom .bottom_left {
        padding: 0 5%;
        width: 100%;
        font-family: 'EliceDigitalBaeum';
    }

    .commentWrap .conDesc {
        font-size: 2.5vw;
    }

    .bottom .bottom_left .name {
        font-size: 3.5vw;
    }

    .bottom .bottom_left .content {
        font-size: 3.5vw;
    }

    .contactWrap .conDesc {
        font-size: 2.5vw;
        padding-bottom: 20px;
    }

    .bottom .bottom_right {
        width: 100%;
        font-family: 'EliceDigitalBaeum';
        padding: 2% 5%;
    }


    .contactSite>div {
        display: flex;
        justify-content: space-between;
        padding: 10px 20px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        font-size: 2vw;
        transition: all 0.3s;
    }

    input {
        margin-left: 10px;
        margin-top: 10px;
        background-color: #44444456;
        border-radius: 2px;
        height: 8vw;
    }
    input::placeholder {
    text-align: center;
    padding: 3px;
    }

    textarea {
        border-radius: 2px;
        margin-top: 10px;
        background-color: #44444456;
        resize: none;
        height: 12vw;
    }
        textarea::placeholder {
        padding: 10px;
        text-align: center;
    }
    .footer_logo {
    font-size: 5.5vw;
}

.footer_mail {
    font-size: 2.5vw;
}
.footer_mail {
    padding-left: 30px;
}
.contactSite>div {
    font-size: 4vw;
}
.commentWrap .conDesc {
    padding-bottom: 10px;
}
#section07 .top {
    height: 18%;
}
#section07 .bottom {
    height: 65%;
}
.footer {
    height: 13%;
}
}
@media(max-width: 450px) {
textarea {
    height: 11vw;
    overflow: hidden;
}
textarea::placeholder {
padding: 5px;
text-align: center;
}
.commentWrap .conDesc {
    font-size: 3.5vw;
}
.contactWrap .conDesc {
    font-size: 3.5vw;
}
#section07 .top {
    height: 13%;
}
#section07 .bottom {
    height: 73%;
}
.contectWrap {
    padding: 20% 5%;
}
.bottom .bottom_left {
    padding: 27% 5% 5%;
    width: 100%;
    font-family: 'EliceDigitalBaeum';
}
.bottom .bottom_right {
    padding: 5% 5%;
}
.footer {
    height: 10%;
}
}



@media(max-width: 350px) {
textarea {
    height: 11vw;
    overflow: hidden;
}
textarea::placeholder {
padding: 5px;
text-align: center;
}
.commentWrap .conDesc {
    font-size: 3.5vw;
}
.contactWrap .conDesc {
    font-size: 3.5vw;
}
#section07 .top {
    height: 13%;
}
#section07 .bottom {
    height: 70%;
}
.contectWrap {
    padding: 30% 5%;
}
.bottom .bottom_left {
    padding: 35% 5% 5%;
    width: 100%;
    font-family: 'EliceDigitalBaeum';
}
.bottom .bottom_right {
    padding: 10% 5%;
}
}