#section1 {
    padding: 8% 5%;
}


#section1 .desc {
    font-size: 3.6vw;
    line-height: 1.2;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

#section1 .text {
    margin-top: 13%;
    font-size: 22vw;
    line-height: 0.9;
    font-family: Poppins;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
}

#section1 .text .imgWrap {
    position: absolute;
    right: 10vw;
    top: 5vw;
    width: 30vw;
    height: 80vh;
    background-color: #000;
    overflow: hidden;
}

#section1 .text .img {
    position: absolute;
    left: 50vw;
    top: 5vw;
    width: 32vw;
    background-color: #000;
    overflow: hidden;
    /* border: 20px solid #F14620; */
}

.desc {
    white-space: pre-wrap;
}

.char {
    opacity: 0;
    display: inline-block;
}

.text>div {
    opacity: 0;
    transform: translateY(100px);

}

@media(max-width:1600px) {
    #section1 .text .imgWrap {
        width: 37vw;
        height: 80vh;
    }
}

@media(max-width:1400px) {
    #section1 .text .imgWrap {
        width: 40vw;
        height: 80vh;
    }
}

@media(max-width:1200px) {
    #section1 .text .imgWrap {
        width: 50vw;
        height: 80vh;
    }
}

@media(max-width:1000px) {
    #section1 .text .imgWrap {
        width: 45vw;
        height: 60vh;

    }

}

@media(max-width:800px) {
    #section1 .text .imgWrap {
        width: 49vw;
        height: 53vh;
    }

}

@media(max-width:600px) {
    #section1 .text .imgWrap {
        width: 54vw;
        height: 43vh;
    }

}

@media(max-width:350px) {
    #section1 .text .imgWrap {
        width: 47vw;
        height: 20vh;
    }
}