#loading {
    width: 100%;
    height: 100vh;
    background: url('https://i.imgur.com/UMnw0tW.jpg');
    font-family: 'PPSupplyMono';
    background-position: center center;
    background-size: cover;
    color: #ffffff;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    height: auto;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container span {
    position: absolute;
    height: 22px;
    width: 4px;
    background: #ffffff;

}

#cog-0 {
    position: absolute;
    transform: rotate(0deg);
}

#cog-45 {
    position: absolute;
    transform: rotate(45deg);
}

#cog-90 {
    position: absolute;
    transform: rotate(90deg);
}

#cog-135 {
    position: absolute;
    transform: rotate(135deg);
}

.loading-text {
    font-family: 'PPSupplyMono';
    text-transform: uppercase;
    font-size: calc(18px + .25vw);
    padding: 10px 5px 5px 0;
    letter-spacing: 3px;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}