#section4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#section4 .sec04_desc {
    font-size: 3.8vw;
    line-height: 1.5;
    font-family: 'PPSupplyMono';
    font-weight: 100;
    letter-spacing: -0.2vw;
}

.sec04_desc span {
    display: block;
    opacity: 0;
    transform: translateY(50px);
}

#section4 .sec04_text {
    margin-top: 10%;
    font-size: 26vw;
    line-height: 0.8;
    font-family: Poppins;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 100px;
}

.sec04_text>div {
    opacity: 0;
    transform: translateY(20px);
}

.project__wrap {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3vw;
}

.project {
    border-bottom: 1px solid #F14620;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h2 {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 4vw;
    line-height: 2.3;
    transition: all 0.3s;
    font-family: 'IropkeBatang';


}

h2>span {
    font-size: 1vw;
    font-family: 'PPSupplyMono';
}

h2>i {
    font-size: 3.5vw;
    font-weight: 100;
    font-family: 'Headlines';
}

h2>p {
    font-size: 1.2vw;
    font-family: 'IropkeBatang';
}


h2:hover {
    transform: translateX(-10px);
    opacity: 0.4;
}


.modal__wrap {
    width: 500px;
    height: 280.1px;
    position: absolute;
    overflow: hidden;
    pointer-events: none;

}

img {
    width: 100%;
    vertical-align: top;
    z-index: 3;
}

.modal__slider {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: top 0.5s cubic-bezier(0.87, 0, 0.13, 1);
}



.cursor,
.cursorText {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #b9b9b9;
    color: #fff;
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    font-size: 16px;
    text-transform: uppercase;
}

.cursorText {
    background-color: transparent;
}