#header {
    position: fixed;
    left: 20px;
    right: 20px;
    top: 0;
    width: calc(100% - 40px);
    background-color: transparent;
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-family: 'PPSupplyMono';
    z-index: 1000;
    border-bottom: 0.5px solid #F14620;

}

#header .left {
    display: flex;
    align-items: center;
}

#header .left h1 {
    margin-right: 20px;
    margin-left: 20px;
    font-size: 26px;
}

#header .left ul {
    display: flex;
}

#header .left ul li a {
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    position: relative;
}

#header .left ul li a {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 20px;
    position: relative;
}

#header .left ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.5px;
    background-color: var(--maincolor);
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

#header .left ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


#header .right {
    padding-right: 20px;
    text-align: right;
    font-size: 0.8vw;
}

.border {
    padding: 5px 20px 15px;
    border: 1px solid var(--subcolor);
    border-radius: 2px;
    position: absolute;
    right: 20px;
    top: 70px;
    position: fixed;
    z-index: 29;
    background-color: transparent;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border h3 {
    text-align: center;
    padding-top: 5px;
    font-family: 'VitroPride';
    font-size: 0.8vw;
}

.weatherIcon {
    width: 50px;
    height: 50px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    font-family: 'PPSupplyMono';
    position: absolute;
    right: 0;
    margin-top: 10vw;
    padding: 20px 20px;
    background-color: #ffffff3b;
    backdrop-filter: blur(10px);
    z-index: 10000;
    border-radius: 10px;
    transition: all 1s ease-out;
    position: fixed;
}

.mobile-menu li {
    padding: 10px 0;
}

.toggle-menu {
    cursor: pointer;
}


@media(max-width:1200px) {
    #header .right {
        padding-right: 20px;
        text-align: right;
        font-size: 1vw;
    }

    .border h2 {
        text-align: center;
        font-family: 'PPSupplyMono';
        font-size: 1vw;
    }

    .border h3 {
        text-align: center;
        padding-top: 5px;
        font-family: 'VitroPride';
        font-size: 1vw;
    }
}

@media(max-width:800px) {
    #header .right {
        display: none;
    }

    .border h2 {
        text-align: center;
        font-family: 'PPSupplyMono';
        font-size: 1.2vw;
    }

    .border h3 {
        text-align: center;
        padding-top: 5px;
        font-family: 'VitroPride';
        font-size: 1.2vw;
    }

    .border {
        display: none;
    }

    #header .left ul {
        display: none;
    }

    .toggle-menu {
        display: block;
        position: absolute;
        right: 0;
    }

    #header .left ul {
        display: none;
    }
}

@media(max-width:500px) {
    .toggle-menu {
        display: block;
        position: absolute;
        right: 0;
    }

    #header .left ul {
        display: none;
    }

    .mobile-menu {
        padding: 5px 20px;
        margin-top: 17vw;
        font-size: 2.5vw;
    }


}

@media(max-width:450px) {
    #header .left h1 {
        margin-right: 20px;
        /* margin-left: 20px; */
        font-size: 15px;
    }
}